/*TODO - add correct font styles on everything */
/*TODO - responsive design */

.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_is-opened {
  visibility: visible;
}
.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  border: 1px;
}

.modal__close-btn {
  position: absolute;
  opacity: 40%;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  display: block;
  width: 630px;
  height: 52px;
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  gap: 10px;
  border-radius: 8px;
  border: 1px #21212166 solid;
  box-sizing: border-box;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  background-color: #212121;
  font-weight: 500;
  font-size: 16px;
  color: #fcf5e5;
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 300px;
    border-radius: 8px;
    gap: 24px;
    padding: 12px;
  }

  .modal__input {
    width: 100%;
    height: 48px;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 56px;
  }
}
