.modal {
  opacity: 0;
  visibility: hidden;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal_is-opened {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  border: 1px;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  opacity: 40%;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  opacity: 0.4;
  border-radius: 4px;
  transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.2s ease;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  opacity: 70%;
}

.modal__input {
  display: block;
  width: 630px;
  margin: 8px 0 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  gap: 10px;
  border-radius: 8px;
  border: 1px #21212166 solid;
  box-sizing: border-box;
  padding: 16px 12px;
}

.modal__input:hover {
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border: none;
  border-radius: 8px;
  background-color: #212121;
  font-weight: 500;
  font-size: 16px;
  color: #fcf5e5;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .modal__container {
    width: 100%;
    gap: 24px;
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    font-weight: 500;
  }

  .modal__input {
    width: 100%;
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn {
    top: 22px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
  }
}
